<div class="container mt-5 text-center">

  <div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      類別
    </a>

    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/">全部</a></li>
      <li><a class="dropdown-item" href="/category/家居物業">家居物業</a></li>
      <li><a class="dropdown-item" href="/category/交通出行">交通出行</a></li>
      <li><a class="dropdown-item" href="/category/休閒娛樂 ">休閒娛樂</a></li>
      <li><a class="dropdown-item" href="/category/餐飲食品">餐飲食品</a></li>
      <li><a class="dropdown-item" href="/category/其他">其他</a></li>
    </ul>
  </div>
    <div class="d-flex justify-content-center">
      <div class="d-flex align-items-center justify-content-around mt-3 mb-3 col-8">
        <div class="p-2 fs-4" id="totalAmountLabel">總金額：</div>
        <div class="p-2 fs-1 fw-bold" id="totalAmount">123</div>
      </div>
    </div>

    <div class="row text-start fs-4 mb-2 d-flex align-items-center">
      <div class="col-2 text-end">
        categoryIcon
      </div>
      <div class="col-6 d-flex align-items-center">
        <div class="name flex-grow-1 d-flex flex-column">
          <div class="fs-3">早餐</div>
          <div class="fs-6" id="date">2023/3/24</div>
        </div>
        <div class="price fs-2 fw-bold">100</div>
      </div>
      <div class="col text-center">
        <a href="/records/{{this._id}}/edit" class="btn btn-success">修改</a>
      </div>
      <!-- Button trigger modal -->
      <div class="col text-center">
        <button type="button" class="btn btn-danger deleBtn" data-bs-toggle="modal" data-bs-target="#deleConfirm"
          data-id="{{this._id}}" data-name="{{this.name}}" data-amount="{{this.amount}}" data-date="{{this.date}}">
          刪除
        </button>
      </div>
    </div>
    <a href="/records/create" class="btn btn-dark m-3">新增支出</a>
</div>
